!!! strict
- index = values[:list_title]
%html{ :lang => "en" }
  %head
    %title= values[:title]
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=#{@options.charset}" }
    %link{ :rel => "stylesheet", :href => values[:stylesheet], :type => "text/css", :media => "screen" }
    - unless index
    - else
      %base{ :target => 'docwin' }/
        
  %body{ :class => index ? 'list' : 'page' }
    - if index
      #index= yield
    - else
      #wrapper{ :class => values[:classmod] ? 'class' : 'file' }
        = yield
        #footer-push
      #footer
        = link_to 'Template derived from <strong>Hanna</strong> RDoc template', 'http://github.com/mislav/hanna/tree/master'
