- entry = values[:entry]
- sections = values[:sections].keys if values.has_key?(:sections)
- methods = entry.method_list + entry.attributes
- unless methods.empty?
  #method-list
    %h2 Methods
    - %w[instance].each do |type|
      - (RDoc::VISIBILITIES rescue RDoc::Context::VISIBILITIES).each do |vis|
        -# FIXME ugly
        - list = methods.reject { |x| x.respond_to?(:is_alias_for) && x.is_alias_for }.select { |x| x.visibility == vis && x.type == type.to_s }.sort
        - unless list.empty?
          %ol
            - list.each do |method|
              - if method.respond_to?(:aref)
                - if method.name.to_s.empty? && method.call_seq
                  %li= link_to method.call_seq.gsub(/<br\s*\/?>/, "").split(/[\r\n]+/).map{ |s| s.split(/([({]+|\[\{|\s+(#?=>|&rarr;)\s+)/).first.sub(/^[A-Za-z0-9_:]+\./, "").sub(/\s+=\s+.*/, "=").strip }.uniq.join("<br />\n"), '#' + method.aref
                - else
                  %li= link_to method.name, '#' + method.aref
              - elsif method.respond_to?(:html_name)
                %li= link_to method.name, "#method-#{method.html_name}"
              - else
                %li= method.name
