- file_page = !values[:classmod]
- title_in_description = values[:entry].description && values[:entry].description =~ /^\s*<h1>/m

.header
  - title = capture_haml do
    - if file_page
      = values[:file].name.gsub(/\.rdoc/, '')
    - else
      = values[:entry].name.gsub(/Controller/, '')
  - if title_in_description
    .name= title
  - else
    %h1.name= title
          
  - if values[:entry].respond_to?(:last_modified) and values[:entry].last_modified
    .last-update
      Last Update:
      %span.datetime= values[:entry].last_modified
    
#content
  #text
    - if values[:description]
      #description~ sanitize_code_blocks frame_link values[:description]

    = frame_link yield
