- values[:sections].sort_by{|s, h| s.title.to_s}.each do |section, h|
  - alias_types, method_types = h.values_at(:alias_types, :method_types)
  #section
    - if section.title.to_s != ''
      %h2 
        %a{ :name =>section.aref }= section.title
        - if section.comment
          .section-comment= section.description
    
    - unless method_types.empty?
      #methods
        - method_types.each do |type, list|
          - unless list.empty?
            %h2== Methods
            
            - list.each do |method|
              .method{ :id => "method-#{method.aref}", :class => "#{type.gsub(/\s+/, '-')}".downcase }
                %a{ :name => method.aref }
                .synopsis
                  - method_html = capture_haml do
                    %span.name= method.name
                  = method_html
                - if method.description
                  .description
                    ~ sanitize_code_blocks method.description
